#tabs ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#tabs li {
    float: left;
    border: 1px solid #000;
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
    padding: 5px 5px 0px 5px;
    background-color: #CCC;
    color: #696969;
}
#mainView {
    border: 1px solid black;
    clear: both;
    padding: 0 1em;
}
.active {
    background-color: #FFF;
    color: #000;
}
.invalid{
    background-color: #FA787E;
}
.valid{
    background-color: #78FA89;
}

.form-button-danger {
            background: rgb(202, 60, 60); /* this is a maroon */
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);form-
}
.form-help-inline {
  color: #595959;
}
.form-menu {
    height: 12.5%;
}
.form-panel {
    height: 75%;
    overflow: auto;
    padding: 0.2em;
}
.form-control-buttons {
    height: 12.5%;
    text-align: center;
}
.form-main-panel {
    padding: 0.2em;
    height: 20em;
}
.form-left {
    border-right: 1px solid grey;
    text-align: center;
}
.form-box {
    width: 100%;
    border: 1px solid grey;
}
.form-list.form-panel {
    height: 85%;
    text-align: left;
}
.form-top-panel {
    padding: 0.2em;
}
form-sub-menu {
    display: none;
}
.form-dropdown :hover > form-sub-menu {
    display: block;
}
.form-tab-selected {
    background-color: #0078e7;
    color: #fff;
}
.form-black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.form-white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 40%;
    padding: 10px;
    border: 5px solid #0078e7;
    background-color: white;
    z-index:1002;
    overflow: auto;
}
.form-listDiv {
    height: 11em;
}
.form-calcButtonDiv {
    padding: 2px;
}
.form-calcButton {
    height: 2.5em;
    width: 2.5em;
    vertical-align: center;
    text-align: center;
}
.form-mouseChange:hover {
    cursor:pointer;
}
.form-arrow-right {
    width: 0; 
    height: 0; 
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    
    border-left: 6px solid #D3D3D3;
}
.form-arrow-left {
    width: 0; 
    height: 0; 
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent; 
    
    border-right:6px solid #D3D3D3; 
}