.button-danger {
            background: rgb(202, 60, 60); /* this is a maroon */
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.help-inline {
  color: #595959;
}
.menu {
	height: 12.5%;
}
.panel {
	height: 75%;
	overflow: auto;
	padding: 0.2em;
}
.control-buttons {
	height: 12.5%;
	text-align: center;
}
.main-panel {
	padding: 0.2em;
	height: 20em;
}
.left {
	border-right: 1px solid grey;
	text-align: center;
}
.box {
	width: 55%;
	border: 1px solid grey;
}
.list.panel {
	height: 85%;
	text-align: left;
}
.top-panel {
	padding: 0.2em;
}
sub-menu {
	display: none;
}
.dropdown :hover > sub-menu {
	display: block;
}
.item-selected {
	background-color: #0078e7;
	color: #fff;
}
.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 40%;
    padding: 10px;
    border: 5px solid #0078e7;
    background-color: white;
    z-index:1002;
    overflow: auto;
}
.listDiv {
	height: 11em;
}
.calcButtonDiv {
	padding: 2px;
}
.calcButton {
	height: 2.5em;
	width: 2.5em;
	vertical-align: center;
	text-align: center;
}
.mouseChange:hover {
    cursor:pointer;
}
.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    
    border-left: 6px solid #D3D3D3;
}
.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent; 
    
    border-right:6px solid #D3D3D3; 
}