<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/joint.css"></link>	
		<link rel="stylesheet" href="css/normalize.css" />
		<link rel="stylesheet" href="css/foundation.css" />
		<link rel="stylesheet" href="css/foundation-icons.css" />
    	<script src="js/jquery.js" type="text/javascript"></script>    		
		<script src="js/modernizr.js" type="text/javascript"></script>
		<script type="text/javascript" src="js/joint.js" ></script>
		<script src="js/lib/angular/angular.js"></script>
		<script src="js/angular-resource.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/services.js"></script>    

		<title>Test</title>
    
		<style type="text/css">
		.connecting {
		cursor: pointer !important;
		}
		.special-link .link-tools { display: none }
		.change-cursor {cursor:pointer}
		
		#table_wrapper{float:left}
		#tbody{height:230px;overflow-y:auto}
		table{border-collapse:collapse; width:100%;}
		
		</style>
    
	</head>
	
	<body ng-controller="editor">
		<div class="row">
			<div class="large-8 columns" id="Div">
				<div class="panel">
					<button class="button tiny" ng-click="createNew()">Options</button>
					<button class="button tiny" ng-click="addNewStep('ad_step')">Calculatd Decision</button>
					<button class="button tiny" ng-click="addNewStep('md_step')">Manual Decision</button>
					<button class="button tiny" ng-click="addNewStep('simple_step')">Normal Step</button>
					<button class="button tiny" ng-click="DeleteStep()">delete</button>				
				</div>
				
				<div id="myholder" style="border:2px solid; color:#E6E6E6;background-image:url('grid3.jpg');" ng-click="toggleFormDisable()"> </div>	
			</div>
		
			<div class="large-4 columns">
				
				<dl class="tabs" data-tab>
					<dd class="active"><a href="#tab1">Step</a></dd>
					<dd id="disable_tab"><a href="#tab2">{{tab_name}}</a></dd>
				</dl>
			
				<div class="tabs-content">

					<div class="content active" id="tab1">
						<div ng-include="'templates/steps_tab.html'"></div>
					</div>
					
					<div class="content" id="tab2">
							<div ng-include="tab_url"></div>													
					</div>
				
				</div>
			
			</div>	
		
		</div>	
			
		<div class="row">
      <!-- Your name: -->
<!--         <button ng-click='addProcess()'>Add Step</button>      <br/>  
        <button ng-click='addDstep()'>Add Decision Step</button><br/> -->
<!--         <input type="text" ng-model="process1" placeholder="Process1">
         <input type="text" ng-model="process2" placeholder="Process2">
        <button ng-click='joinProcess()'>Join Process</button><br/> -->
<!-- s -->
	{{result}}
			<hr>
			<div class="large-6 columns">
				<div class="large-8 columns">
					<input type="text" ng-model="textdata" placeholder="Enter Text" />
				</div>
				<div class="large-4 columns">
					<button ng-click='addText()' class="button tiny">Add Text</button>
				</div>
			</div>
        
			<div class="large-6 columns">
				<div class="large-8 columns">
					<input type="text" ng-model="rtext" placeholder="Enter Text Number">  
				</div>
				<div class="large-4 columns">
					<button ng-click='removeText()' class="button tiny">Remove Text</button>
				</div>
			</div>
			
			<hr>
        
			<div class="large-12 columns">
				<div class="large-9 columns">
					<input type="text" ng-model="step_number" placeholder="Enter Step Number">
				</div>
				<div class="large-3 columns">    
					<button ng-click='add_tasks()' class="button tiny">Add tasks to steps</button>
				</div>
			</div>
        
			<hr>
        
			<div class="large-12 columns">
				<div class="large-4 columns">
					<input type="text" ng-model="parallel_lanes" placeholder="Maximum No. of lanes"> 
				</div>
				<div class="large-4 columns">
					<input type="text" ng-model="parallel_steps" placeholder="Maximum steps in a lane">    
				</div>
				<div class="large-4 columns">
					<button ng-click="addNewStep('parallel_step')" class="button tiny">Add Parallel steps</button>
				</div>
			</div>
			
			<hr>
        
			<div class="large-12 columns">
				<div class="large-4 columns">
					<button ng-click='graph_to_json()'>Create Json Object</button>
				</div>
				<div class="large-4 columns">
					<button ng-click='load_graph()'>Load Graph from Json</button>
				</div>
				<div class="large-4 columns">
					<button ng-click='verify()' class="">Verify Graph</button>
				</div>
			</div>
			
			<hr>
    
		</div>
    

		<div id="message" />
		
		<div class="row">
			<div id="myimage" style="border:2px solid black;background-image:url('grid3.jpg');"> </div>
		</div>
    
		<script src="js/graph.js"></script>
		<script src="js/foundation.js" type="text/javascript"></script>
		<script src="js/foundation.abide.js" type="text/javascript"></script>
		<script>
			$(document).foundation();

			var doc = document.documentElement;
			doc.setAttribute('data-useragent', navigator.userAgent);
		</script>
	
	</body>

</html>
