<!DOCTYPE html>
<html ng-app="app">
<head>
    <link rel="stylesheet" type="text/css" href="css/joint.css"></link>
    <script type="text/javascript" src="js/joint.js" ></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
</head>
<title>Test</title>
<body>

<br>

    <div id="myholder"> </div>

    <div ng-controller="add_task">
        <button ng-click='show_list()'>Show the list</button>  <br/>
        <button ng-click='show_single()'>Single row with id 1</button>  <br/>
        <h3>Query Result </h3>
            {{result}}
        <br/>
        <h3>Single Query Result</h3>
          {{result2}}
          <br/>
        <button ng-click='add_one()'>Add a row</button>
        <br/><br/>
        <h2>/********************************TASK INPUT FORM **************************/</h2><br/><br/>

           Task Type 
           <select ng-model="myColor" ng-options="type.m_name for type in types">               
             </select>
           <br/>
           {{task_type}}
            <select ng-model="myshow_type" ng-options="type.Field for type in show_type">               
            </select>
            <br/>   
           Performer
            <select ng-model="" ng-options="type.m_name for type in Performer">               
                  <option value="">-- choose color --</option>
            </select>
            <br/>  
           Supervisor
            <select ng-model="myColor" ng-options="type.m_name for type in types">               
                  <option value="">-- choose color --</option>
            </select>
            <br/>              
           Description
            <select ng-model="myColor" ng-options="type.m_name for type in types">               
                  <option value="">-- choose color --</option>
            </select>
            <br/>  
      <hr>
    </div>

    <div id="message" />
     <!-- $('#message').text('blank!'); -->

<script>   
</script>
</body>
</html>