<label>To</label>
<select>
	<option>User 1</option>
	<option>User 2</option>
	<option>User 3</option>
</select>

<label>Message</label>
<textarea></textarea>

<button class="button primary">Save</button>
