<div>
	<fieldset>
		<legend>Form</legend>

		<label>Form</label>
		<select>
			<option>Form 1</option>
			<option>Form 2</option>
			<option>Form 3</option>
		</select>

		<label>Tab</label>
		<select>
			<option>Tab 1</option>
			<option>Tab 2</option>
			<option>Tab 3</option>
		</select>

		<label>Sign-off Prompt</label>
		<select>
			<option>OK/Cancel</option>
			<option>Done</option>
		</select>

	</fieldset>

	<fieldset>
		<legend>Scope</legend>

		<label>Item or Porfolio</label>
		<select>
			<option>Project 1</option>
			<option>Project 2</option>
			<option>Project 3</option>
		</select>

	</fieldset>

	<label>Performer</label>
	<select>
		<option>User 1</option>
		<option>User 2</option>
		<option>User 3</option>
	</select>

	<button type="button primary">Save</button>
</div>
