<table>
	<tr ng-repeat="option in curr_options">
		<td>{{option.optionname}}</td>
		<td>From: {{option.field_value.min}} To: {{option.field_value.max}} <button type="button tiny" data-reveal-id="integerModal">Edit</button></td>
	</tr>
</table>
<!--div id="integerModal" class="reveal-modal" data-reveal>
	Define the Task Details
	<hr>	
	<form method="post" action="">
		From:<input type="number" required />
		To:<input type="number" required />
		<input type="submit" class="button tiny" value="Done"/>
	</form> 
	<a class="close-reveal-modal">&#215;</a> 
</div-->
