<div>
	<div class="row" style="height:250px" >
		<div class="large-9 columns">
			<div id="tbody">
				<table>
					<tr ng-repeat="t in curr_options track by $index"  ng-click="getOptionData(t.id)"> 
						<td id="option{{t.id}}" style="font-size:14px; padding:2px" class="change-cursor">{{t.optionname}}</td>
					</tr>
					<tr ng-repeat="t1 in empty_rows track by $index">
						<td style="font-size:14px; padding:2px; height:22px"></td>
					</tr>
				</table>	
			</div>
		</div>

		<div class="large-3 columns" style="padding-left:0px">
			<div class="secondary label change-cursor" ng-click="addNew()" style="font-size:12px; margin-bottom:3px; width:73px"><i class="fi-plus"></i>ADD</div> 
			<div class="secondary label change-cursor" data-reveal-id="optionModal" style="font-size:12px; margin-bottom:3px; width:73px"><i class="fi-pencil"></i>EDIT</div>
			<div id="optionModal" class="reveal-modal medium" data-reveal="reveal" style="overflow:auto; height:500px;">
				<label>Name</label>
				<input type="text" ng-model="option.optionname" />

				<label>Descrption</label>
				<textarea ng-model="option.description"></textarea>

			</div>

			<div class="secondary label change-cursor" style="font-size:12px; margin-bottom:3px; width:73px"><i class="fi-page-copy"></i>COPY</div>
			<div class="secondary label change-cursor" style="font-size:12px; margin-bottom:3px; width:73px"><i class="fi-page-export"></i>PASTE</div>
			<div class="secondary label change-cursor" style="font-size:12px; margin-bottom:3px; width:73px"><i class="fi-trash"></i>DELETE</div>
		</div>
	</div>

	<div>
		<label>Field Type</label>
		<select ng-model="field_selected" ng-options="field.name for field in fields">
		</select>
		<div ng-include="field_selected.url"></div>
	</div>
	<script>
	$(document).foundation();
	</script>
</div>
