<form method="post" action="">  

	<fieldset ng-disabled="formDisable">

		Name:<br/> 
		<p><input type="text" ng-model="step.stepname" /></p>

		Description:<br/>
		<p><textarea ng-model="step.description"></textarea></p>

		Scope:<br/>
		<select>
			<option value="value">some value</option>
			<option value="value">some value</option>
			<option value="value">some value</option>
		</select>

		Manager:<br/>
		<p><input type="file" ng-model="manager" /></p>

		Error Handling:<br/>
		<select ng-model="errorHandling">
			<option value="value">some value</option>
			<option value="value">some value</option>
			<option value="value">some value</option>
		</select>
		<button class="button tiny" ng-click="saveChangesToSteps()">Done</button>
	</fieldset>

</form>
	
