<div class="row" style="height:250px" >

	<div class="large-9 columns">
		<div id="tbody">
			<table>
				<tr ng-repeat="t in curr_tasks track by $index"  ng-click="getTaskData(t.id)"> 
					<td id="task{{t.id}}" style="font-size:14px; padding:2px" class="change-cursor">{{t.taskname}}</td>
				</tr>
				<tr ng-repeat="t1 in empty_rows track by $index">
					<td style="font-size:14px; padding:2px; height:22px"></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="large-3 columns" style="padding-left:0px">
		<div class="secondary label change-cursor" ng-click="addNew()" style="font-size:12px; margin-bottom:3px; width:73px"><i class="fi-plus"></i>{{space}}ADD</div> 
		<div class="secondary label change-cursor" data-reveal-id="taskModal" style="font-size:12px; margin-bottom:3px; width:73px"><i class="fi-pencil"></i>{{space}}EDIT</div>
		<div id="taskModal" class="reveal-modal medium" data-reveal="reveal" style="overflow:auto; height:500px">
			<label>Name</label>
			<input type="text" ng-model="task.taskname" />

			<label>Descrption</label>
			<textarea ng-model="task.description"></textarea>
			<select ng-model="task_type_selected" ng-options="t.name for t in task_type">
			</select>

			<div ng-include="task_type_selected.url"></div>
		</div>

		<div class="secondary label change-cursor" style="font-size:12px; margin-bottom:3px; width:73px"><i class="fi-page-copy"></i>{{space}}COPY</div>
		<div class="secondary label change-cursor" style="font-size:12px; margin-bottom:3px; width:73px"><i class="fi-page-export"></i>{{space}}PASTE</div>
		<div class="secondary label change-cursor" style="font-size:12px; margin-bottom:3px; width:73px"><i class="fi-trash"></i>{{space}}DELETE</div>
	</div>
	<script>
	$(document).foundation();
	</script>
</div>
