<label>Field</label>
<select>
	<option>Field 1</option>
	<option>Field 2</option>
	<option>Field 3</option>
</select>

<label>Value</label>
<select>
	<option>Value 1</option>
	<option>Value 2</option>
	<option>Value 3</option>
</select>

<label>Update Mode</label>
<select>
	<option>Value 1</option>
	<option>Value 2</option>
	<option>Value 3</option>
</select>

<fieldset>
	<legend>Scope</legend>
	<label>Item or Porfolio</label>
	<select>
		<option>Project 1</option>
		<option>Project 2</option>
		<option>Project 3</option>
	</select>
</fieldset>

<button type="button primary">Save</button>
